header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: left;
  font-size: 11pt;
  color: white;
  font-family: Calibri;
  
}


/* quick & dirty reset css */
* {
  padding: 0;
  margin: 0;
  outline: none;
}

/* default styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;

}

.site-nav {
  height: 50px;
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: #82b74b;
  opacity: 1;
}

.site-nav__inner {
  display: flex;
  justify-content: right;

}

.menu-primary {
  display: flex;
  list-style: none;
}

.menu-primary__item {
  color: White;
  display: block;
  padding: 1.5rem 1.8rem;
  transition: ease-in-out 150ms;
  text-decoration: none;
}

.menu-primary__item:hover {
  color: #94a1af;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 250px;
  border: 1px solid black;
}

.icon {
  text-align: center;
  width: 120px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon:hover {
  border-color: black;
}

.icon img {
  width: 50px;
  height: 50px;
}
