header {
  position: fixed;
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: left;
  font-size: 17pt;
  color: white;
  font-family: Calibri;
}

h2 {
  color: black;
  font-size: 13pt;
  position: fixed;
  font-family: Calibri;
  top: 30px;
}

h3 {
  font-family: Calibri;
  font-size: 20pt;
}

/* quick & dirty reset css */
* {
  padding: 0;
  margin: 0;
  outline: none;
}

.site-nav {
  height: 50px;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: #82b74b;
  opacity: 1;
}

.site-nav__inner {
  display: flex;
  justify-content: right;

}

.menu-primary {
  display: flex;
  list-style: none;
}

.menu-primary__item {
  color: White;
  display: block;
  padding: 1.5rem 1.8rem;
  transition: ease-in-out 150ms;
  text-decoration: none;
}

.menu-primary__item:hover {
  color: #94a1af;
}


.board {
  display: flex;
  margin-top: 10%;
  min-height: 400px;
  width: 60%;
  justify-content: center;
  text-align: center;
}

.column {
  flex-basis: 200%;
  border: 1px solid black;
  margin: 8px;
  padding: 8px;
  width: max-content;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}






footer {
  background-color: #82b74b;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15px;
  padding: 10px;
  position: fixed;
  opacity: 0.7;

}

.copyright {
  color: black;
  font-size: 8pt;

}

  .address {
    color: black;
    font-size: 8pt;
   
  }




