<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Add Project Page</title>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/all.css">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/AddProject.css">
    <style>
    </style>
</head>
<body>
    <nav class="site-nav" role="navigation">
        <div class="site-nav__inner">
            <header class="header">
                <h1>Jarvis-FPM</h1>
            </header>
            <ul class="menu-primary">
                <li><a class="menu-primary__item" href="/">Profile</a></li>
            </ul>
        </div>
    </nav>
    <button id="add-project-btn"></button>
    <table id="project-table">
        <thead>
            <tr>
                <th>Project-Title</th>
                <th>Project-Leader</th>
                <th>Project-Team</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Test</td>
                <td>Tom,Jerry,Christina</td>
                <td>Creating Website</td>
                <td>
                    <button class="edit-project-btn">Edit Project</button> 
                    <button class="delete-project-btn">Delete Project</button> 
                  </td>
            </tr>
        </tbody>
    </table>
    <div class="overlay" id="add-project-overlay">
        <div class="popup">
            <h2>Add Project</h2>
            <form id="add-project-form" th:action="@{user/{token}/projects}" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <label for="project-title">Project-Titel:</label>
                        <input type="text" id="project-title" name="project-title" required>
                    </div>
                    <div class="form-group">
                        <label for="project-leader">Project-Leader:</label>
                        <input type="text" id="project-leader" name="project-leader" required>
                    </div>
                    <div class="form-group">
                        <label for="project-team">Project-Team:</label>
                        <input type="text" id="project-team" name="project-team" required>
                    </div>

                    <input type="submit" name="submit" value="Save">
                    <span class="close-btn">&times;</span>

            </form>
        </div>
    </div>
    <footer>
        <p class="copyright">&copy; Copyright</p>
        <p class="address">Fiktive Adresse Nr. 1, 12345 Frankfurt am Main</p>
    </footer>
</body>
<script src="/src/main/resources/static/js/AddProject.js"></script>


</html>