<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Add Project Page</title>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/all.css">
    <nav class="site-nav" role="navigation">
        <div class="site-nav__inner">
            <header class="header">
                <h1>Jarvis-FPM</h1>
            </header>
            <ul class="menu-primary">
                <li><a class="menu-primary__item" href="/src/main/resources/templates/Login.html">Profile</a></li>
                <!-- Link to the user's profile -->
            </ul>
        </div>
    </nav>
    <style>
    </style>

</head>

<body>

</body>

</html>