<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>JARVIS</title>
    <header>
      <h1>Jarvis-FPM</h1>
    </header>
    
     <nav class="site-nav" role="navigation">
      <div class="site-nav__inner">

        <ul class="menu-primary">
          <li><a class="menu-primary__item" href="/">Home</a></li>
          <li><a class="menu-primary__item" href="#">About</a></li>
          <li><a class="menu-primary__item" href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
      <div class="icon-container">

      <div class="icon" onclick="window.location='search.html'">
        <i class="fas fa-search"></i>
        <div class="icon-title">Search for Project</div>
      </div>
      <div class="icon" onclick="window.location='create.html'">
        <i class="fas fa-plus"></i>
        <div class="icon-title">Add New Project</div>
      </div>
      <div class="icon" onclick="window.location='explore.html'">
        <i class="fas fa-eye"></i>
        <div class="icon-title">Explore Projects</div>

      </div>
   <!--
      <form class="new-project-form">
        <input type="text" class="new-project-input" placeholder="Name of new the Project">
        <button class="new-project-button">add Project</button>

      </form>
    </div>
    //-->