<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="./css/Home.css">   
    <meta charset="UTF-8">
    <title>JARVIS</title>


  </head>

  <body>
    <header>
      <h1>Jarvis-FPM</h1>
    </header>
    <div class="icon-container">

      <div class="icon" onclick="window.location='search.html'">
        <i class="fas fa-search"></i>
        <div class="icon-title">Search for Project</div>
      </div>
      <div class="icon" onclick="window.location='create.html'">
        <i class="fas fa-plus"></i>
        <div class="icon-title">Add New Project</div>
      </div>
      <div class="icon" onclick="window.location='explore.html'">
        <i class="fas fa-eye"></i>
        <div class="icon-title">Explore Projects</div>
         
      </div>
       <form class="new-project-form">
        <input type="text" class="new-project-input" placeholder="Name of new the Project">
        <button class="new-project-button">add Project</button>
        
      </form>
    </div>
  </body>

</html>
