<!DOCTYPE html>
<html>

<head>
    <style>

    </style>


    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/All.css">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/Kanban.css">
    <nav class="site-nav" role="navigation">
        <div class="site-nav__inner">
            <header class="header">
                <h1>Jarvis-FPM</h1>
            </header>
            <ul class="menu-primary">
                <li><a class="menu-primary__item1" href="/src/main/resources/templates/WBS.html">WBS</a></li>
            </ul>
            <ul class="menu-primary">
                <li><a class="menu-primary__item2" href="/src/main/resources/templates/Ressource.html">Ressources</a>
                </li>
            </ul>
        </div>
    </nav>
</head>

<body>

    <head>
        <h2>Kanban-Board | Overview</h2>
    </head>
    <button id="create-ticket-btn">Create Ticket</button>
    <div class="overlay" id="create-ticket-overlay">
        <div class="popup">
            <h3>Create Ticket</h3>
            <form id="create-ticket-form">
                <div class="form-group">
                    <label for="assignee">Assignee:</label>
                    <input type="text" id="assignee" name="assignee" required>
                </div>
                <div class="form-group">
                    <label for="task">Task:</label>
                    <input type="text" id="task" name="task" required>
                </div>
                <div class="priority">
                    <label for="priority">Priority</label>
                    <select id="priority">
                        <option value="high">High</option>
                        <option value="medium">Moderate</option>
                        <option value="low">Low</option>
                    </select>
                </div>
                <input type="submit" value="Add Ticket">
                <a class="close-btn">&times;</a>
            </form>
        </div>
    </div>
    <div class="board" th:action="@{/user/{id}/token/project/{id}}" method="GET">
        <div class="column" id="backlog">
            <h3>Backlog</h3>
        </div>
        <div class="column" id="inprogress">
            <h3>In Progress</h3>

        </div>
        <div class="column" id="inreview">
            <h3>In Review</h3>

        </div>
        <div class="column" id="done">
            <h3>Done</h3>
        </div>
    </div>

    <div id="detail-page">
        <form id="detail-form" th:action="@{/user/{token}/project/{id}/tasks/{id}}" method="GET">
            <div id="detail-content">
                <label for="ticket-title">Title:</label>
                <input type="text" id="ticket-title" value="{{ticket.title}}" readonly>

                <label for="start-date">Start Date:</label>
                <br><input type="date" id="start-date" value="{{ticket.startDate}}" readonly> <br>

                <label for="end-date">End Date:</label>
                <br> <input type="date" id="end-date" value="{{ticket.endDate}}" readonly> <br>

                <label for="assignee">Assignee:</label>
                <br><input type="text" id="assignee" value="{{ticket.assignee}}" readonly> <br>

                <label for="progress">Progress:</label>
                <br><input type="range" id="progress" name="progress" min="0" max="100" value="{{ticket.progress}}"
                    onchange="updateProgressValue(this.value)">
                <span id="progress-value">{{ticket.progress}}</span>%<br>


                <label for="done">Done:</label>
                <br><input type="checkbox" id="done" name="done" {{ticket.done ? 'checked' : '' }}>

            </div>

            <div id="detail-footer">
                <h2>Detailpage of Ticket</h2>
                <button type="submit" id="save-btn">Save</button>
                <button type="button" id="close-btn" onclick="closeDetails()">Close</button>
            </div>
        </form>
    </div>

    <footer>
        <p class="copyright">&copy; Copyright</p>
        <p class="address">Fiktive Adresse Nr. 1, 12345 Frankfurt am Main</p>
    </footer>

</body>

<script src="/src/main/resources/static/js/Kanban.js"></script>

</html>