<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>WBS</title>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/WBS.css">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/all.css">
    <nav class="site-nav" role="navigation">
        <div class="site-nav__inner">
            <header class="header">
                <h1>Jarvis-FPM</h1>
            </header>
            <ul class="menu-primary">
                <li><a class="menu-primary__item" href="/">Profile</a></li>
                <!-- Link to the user's profile -->
            </ul>
        </div>
    </nav>
</head>

<body>
    <head>

        <h2>WBS | Overview</h2>
    </head>

   
    <div class="container">
        <div class="section">
            <h4>Tasks</h4>
            <table id="task-list">
                <thead>
                    <tr>
                        <th>Zeile</th>
                        <th>Titel</th>
                        <th>Start</th>
                        <th>Ende</th>
                        <th>Ressourcen</th>
                        <th>Dependent on</th>
                        <th>Kosten</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="section">
            <h4>Timeline</h4>
            <div id="date">Datum</div>
            <div class="timeline">
                <div class="label">
                    <div id="timeline-end">Start</div>
                    <div id="timeline-end">End</div>
                </div>
                <div class="bar" id="timeline-bar-1">
                    <div class="label-bar"></div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="form">
                <button type="button" onclick="openPopup()">Add</button>
                <div id="popup" style="display: none;">
                    <div class="form">
                        <h4>Task hinzufügen</h4>
                        <form th:action="@{/user/{token}/project/{id}/tasks/{id}}" method="POST">

                            <input type="text" id="task-name" placeholder="Titel">
                            <label for="start-date">Startdatum:</label><input type="date" id="task-start-date"
                                placeholder="Startdatum">
                            <label for="end-date">Enddatum:</label><input type="date" id="task-end-date"
                                placeholder="Enddatum">
                            <input type="text" id="task-resources" placeholder="Ressourcen">
                            <input type="checkbox" id="task-dependent" placeholder="Dependent">critical
                            <input type="number" id="task-costs" placeholder="Kosten">

                            <div class="form2">
                                <input type="text" id="task-definition" placeholder="Beschreibung">
                            </div>
                            <button type="button" onclick="addTask()">Hinzufügen</button>
                            <button type="button" onclick="closePopup()">Abbrechen</button>
                            <button type="button" onclick="closeTaskDetails()">Details</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="task-details">
            <form th:action="@{/user/{token}/project/{id}}" method="GET">
                <h4>Task Details</h4>
                <h2 id="task-name-details"></h2>
                <p>Start:</p>
                <p id="task-start-date-details"></p>
                <p>End:</p>
                <p id="task-end-date-details"></p>
                <p>Ressource:</p>
                <p id="task-resources-details"></p>
                <p>Dependent:</p>
                <p id="task-dependent-details"></p>
                <p>Kosten:</p>
                <p id="task-costs-details"></p>
                <p>Beschreibung:</p>
                <p id="task-definition-details"></p>
            </form>
        </div>
        <script src="/src/main/resources/static/js/WBS.js"></script>
</body>

</html>